body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: url('../img/Questionnaire.jpg') no-repeat;
    background-size: 100vw;
}

div form {
    text-align: center;
    width: 30vw;
    background-color: #808080;
    padding: 5px 0 5px 0;
    margin: 5% 55% 0% 15%;
    opacity: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px;
}

.loginForm{
    margin-top:10%;
}

input {
    color:#006664;
    padding: 5px 10px;
    width: 80%;
    margin: 5px 0;
    opacity: 120%;
}

input[type="submit"] {
    background-color: darkgray;
    color: black;
    width: 50%;
    font-size: 15px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #6E4C49;
    color: white;
}

div form a {
    text-decoration: none;
    color: #006664;
    text-align: right;
    font-weight: bold;
}

div form h2,
div form h3 {
    color: black;
}


input[type="checkbox"]{
    display:block;
    margin-top:-15px;
    margin-left:-20px;
}

#onError{
    text-align: start;
}