body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: url('../img/Questionnaire.jpg') no-repeat;
    background-size: 100vw;
    overflow-x: hidden;
}

.quizForm,
.questionnarieForm {
    margin-top: 55px;
    margin-bottom: 10px;
}

div form {
    opacity: 80%;
    width: 40vw;
    background-color: #808080;
    padding: 5px 0 15px 0;
    border-radius: 8px;
    margin-left: 10%;
    box-shadow: 0 0 10px 2px;
}

div form h2 {
    text-align: center;
}

input {
    color: #006664;
    font-weight: bold;
    padding: 5px 10px;
    width: 70%;
    float: right;
    margin-right: 15px;
}

label {
    float: left;
    margin-left: 15px;
}

label[for="quizName"],
label[for="questionnarieName"] {
    margin-left: 35%;
}

select[name="existingQuizNames"],
select[name="existingQuestionnarieNames"],
select[name="QuestionNames"] {
    width: 250px;
    margin-left: 25%;
}

input[name="createQuiz"],
input[name="createQuestionnarie"],
input[name="createQuestion"],
input[name="editQuestion"] {
    float: none;
    margin-left: 15%;
    background-color: darkgray;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

input[name="createQuiz"]:hover,
input[name="createQuestionnarie"]:hover,
input[name="createQuestion"]:hover {
    background-color: #6E4C49;
    color: white;
}

input[name="quizName"],
input[name="questionnarieName"] {
    float: none;
    margin-left: 13%;
}

.addNewQuiz,
.addNewQuestionnarie {
    margin-left:250px;
    margin-bottom: 10px;
}

.contentsOfTest {
    display: grid;
    grid-template-columns: 460px 460px;
    column-gap: 10px;
}

.addQuestion {
    width: 450px;
    margin-left: 50px;
}

.editQuestions {
    width: 450px;
}